.technology-img {
  width: 100%;
  height: 400px;
  margin-top: -70px;
  position: relative;
  background: url(../img/technology.png) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.tech-box {
  flex-wrap: wrap;
  flex-direction: row;
}

.tech-img {
  width: 480px;
  height: 700px;
  padding: 32px;
}

.tech-img img {
  width: 416px;
  height: 588px;
  margin-bottom: 10px;
}

.tech-inspect {
  border-radius: 15px;
}
